.page-stage2 {

    .title {
        margin-bottom: 30px;
        color: #54177cf2;
    }

    .instructions {
        color: #54177cf2;
        font-weight: 500;
        margin-bottom: -8px;
    }

    .slot-0 {
        position: absolute;
        border-radius: 3px;
        width: 160px;
        height: 31px;
        top: 18px;
        right: 13px;
        border: 1px solid black;
        background-color: white;
    }

    .slot-1 {
        position: absolute;
        bottom: 120px;
        right: 305px;
        border-radius: 3px;
        height: 18px;
        width: 140px;
        border: 1px solid black;
        background-color: white;
    }

    .slot-2 {
        position: absolute;
        top: 82px;
        right: 14px;
        border-radius: 3px;
        height: 22px;
        width: 100px;
        border: 1px solid black;
        background-color: white;
    }

    .slot-3 {
        position: absolute;
        top: 152px;
        right: 258px;
        border-radius: 3px;
        height: 15px;
        width: 169px;
        border: 1px solid black;
        background-color: white;
    }

    .slot-4 {
        position: absolute;
        bottom: 57px;
        right: 400px;
        border-radius: 3px;
        height: 29px;
        width: 105px;
        border: 1px solid black;
        background-color: white;
    }

    .slot-5 {
        position: absolute;
        bottom: 168px;
        right: 205px;
        border-radius: 3px;
        height: 15px;
        width: 97px;
        border: 1px solid black;
        background-color: white;
    }

    .slot-6 {
        position: absolute;
        bottom: 48px;
        right: 15px;
        border-radius: 3px;
        height: 40px;
        width: 196px;
        border: 1px solid black;
        background-color: white;
    }

    .payslip-slot {
        //border: 2px solid #54177cf2;
        //background-color: #b3afeb;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .payslip-slot:hover {
        border: 2px dashed blue;
    }

    .words-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        max-width: 398px;
        flex-direction: row-reverse;
        justify-content: stretch;
        gap: 5px;
        align-content: space-around;
    }

    .Words-bank-container {
        max-width: 400px;
        position: absolute;
        right: 215px;
        margin-top: 17px;

        .bank-title {
            color: #54177cf2;
            font-weight: 500;

        }

    }


    .payslip-board {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        background-color: white;
        max-width: 500px;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .employee-details-image {
        position: relative;
        max-width: 100%;
        border: 2px solid black;
        margin-bottom: 10px;
        border-radius: 5px;
    }


    dialog {
        padding: 0;
        scale: 0;
        border: 2px solid white;
        border-radius: 35px;
        width: 310px;
        color: #54177cf2;
        font-weight: 500;
        //animation: pop 0.5s ease;
        // transition: scale 1s ease;


        &[open] {
            scale: 1;
        }

        &::backdrop {
            background: #e6e5f397;
        }

        .dialog-content {
            padding: 20px;


            .dialog-title {
                font-size: 2rem;
            }

            .victory-image {
                width: 130px;
                height: 110px;
                margin-right: 60px;
            }


            .buttons {
                display: flex;
                justify-content: space-between;
                margin-top: -47px;

                .nextStage-button,
                .currentStage-button {
                    background-color: #54177cf2;
                    color: white;
                    border-radius: 8px;
                    height: 28px;
                    width: 80px;
                }
            }
        }

    }

    .prev-stage-button {
        position: absolute;
        left: 345px;
        top: 109px;
        background-color: lightgray;
        border-color: #c5c5c5;
        border-radius: 5px;
        min-width: 115px;
        min-height: 30px;
        margin-inline: -65px;

        &:hover {
            background-color: gray; // Darker color on hover
        }
    }

    .next-stage-button {
        position: absolute;
        left: 224px;
        top: 109px;
        background-color: lightgray;
        border-color: #c5c5c5;
        border-radius: 5px;
        min-width: 115px;
        min-height: 30px;
        margin-inline: -65px;

        &:hover {
            background-color: gray; // Darker color on hover
        }
    }

}