body {
    background-color: #e6e5f3;
    /*font-family: var(--fonts-primary);*/
    font-size: 14px;
    margin: 0;
    height: 100vh; 
    justify-content: center;
    text-align: right;
}

.payslip-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    
}

.word-container {
    border: 1px solid #b3afeb;
    border-radius: 5px; 
    text-align: right;
    padding: 5px;
    background-color: #b3afeb;
    margin-bottom: 5px;
    font-size: 12px;
  
}
