.page-stage2 {

    .title {
        margin-bottom: 30px;
        color: #54177cf2;
    }


    .instructions {
        color: #54177cf2;
        font-weight: 500;
        margin-bottom: -8px;
    }
/*
    .payslip-container {
        background-color: white;
        padding: 20px;
        border-radius: 5px;

    }
    */

    .payslip-board {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        background-color: white;
        /*width: 100%;*/
        max-width: 400px;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .slot-0 {
        position: absolute;
        border-radius: 5px;
        width: 250px;
        height: 30px;
        top: 10px;
        right: 10px;
    }

    .slot-1 {
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 5px;
        height: 30px;
        width: 70px;
    }

    .slot-2 {
        position: absolute;
        top: 85px;
        right: 10px;
        border-radius: 5px;
        height: 30px;
        width: 70px;
    }

    .slot-3 {
        position: absolute;
        top: 119px;
        right: 10px;
        border-radius: 5px;
        height: 30px;
        width: 140px;
    }

    .slot-4 {
        position: absolute;
        top: 150px;
        right: 10px;
        border-radius: 5px;
        height: 30px;
        width: 140px;
    }

    .slot-5 {
        position: absolute;
        top: 75px;
        left: 10px;
        border-radius: 5px;
        height: 163px;
        width: 163px;
    }

    .slot-6 {
        position: absolute;
        top: 86px;
        left: 96px;
        border-radius: 5px;
        height: 20px;
        width: 70px;
    }

    .payslip-slot {
        border: 1px solid gray;
        /*min-height: 50px;
    min-width: 100px;*/
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, border 0.3s ease;
    }

    .payslip-slot:hover {
        border: 2px dashed blue;
    }

    .words-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        max-width: 398px;
        flex-direction: row-reverse;
        justify-content: stretch;
        gap: 5px;
        align-content: space-around;
    }

    .Words-bank-container {
        max-width: 400px;
        position: absolute;
        right: 215px;
        margin-top: 17px;

        .bank-title {
            color: #54177cf2;
            font-weight: 500;

        }

    }

    .next-stage-button {
        position: absolute;
        left: 224px;
        top: 109px;
        background-color: lightgray;
        border-color: #c5c5c5;
        border-radius: 5px;
        min-width: 115px;
        min-height: 30px;
        margin-inline: -65px;

        &:hover {
            background-color: gray; // Darker color on hover
        }
    }


}