.page-stage1 {
    .start {
        margin-inline: 110px;
        min-width: 400px;


        .title {
            margin-bottom: 30px;
            color: #54177cf2;
        }


        .instructions {
            color: #54177cf2;
            font-weight: 500;
            margin-bottom: -8px;
        }
    }

    .slot-0 {
        position: absolute;
        border-radius: 12px;
        width: 160px;
        height: 30px;
        top: 55px;
        right: -71px;
        border: 2px solid blue;
        background-color: blue;
    }

    .slot-1 {
        position: absolute;
        bottom: 55px;
        right: -71px;
        border-radius: 12px;
        height: 30px;
        width: 160px;
        border: 2px solid purple;
        background-color: purple;
    }

    .slot-2 {
        position: absolute;
        top: 161px;
        right: 340px;
        border-radius: 12px;
        height: 30px;
        width: 160px;
        border: 2px solid green;
        background-color: green;
    }

    .slot-3 {
        position: absolute;
        top: 202px;
        right: -71px;
        border-radius: 12px;
        height: 30px;
        width: 160px;
        border: 2px solid darkgoldenrod;
        background-color: darkgoldenrod;
    }

    .slot-4 {
        position: absolute;
        bottom: -18px;
        right: 340px;
        border-radius: 12px;
        height: 30px;
        width: 160px;
        border: 2px solid lightblue;
        background-color: lightblue;

    }

    .slot-5 {
        position: absolute;
        bottom: 55px;
        right: 340px;
        border-radius: 12px;
        height: 30px;
        width: 160px;
        border: 2px solid green;
        background-color: green;
    }


    .payslip-slot {
        //border: 2px solid #54177cf2;
        //background-color: #b3afeb;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .payslip-slot:hover {
        border: 2px dashed blue;
    }

    .words-container {
        
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        max-width: 398px;
        flex-direction: row-reverse;
        justify-content: stretch;
        gap: 5px;
        align-content: space-around;
    }

    .Words-bank-container {
        margin-inline: 150px;
        max-width: 400px;
        position: absolute;
        right: 215px;
        margin-top: 17px;

        .bank-title {
            color: #54177cf2;
            font-weight: 500;

        }

    }


    .payslip-board {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        background-color: white;
        min-width: 400px;
        max-width: 400px;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .employee-details-image {
        position: relative;
        max-width: 100%;
        border: 2px solid blue;
        filter: blur(1px);
        margin-bottom: 10px;

    }

    .payments-image {
        max-width: 70%;
        margin-left: 30%;
        margin-top: -8px;
        border: 2px solid darkgoldenrod;
        filter: blur(1px);
    }


    .mandatoryDeductions-image {
        max-width: 25%;
        margin-top: -180px;
        border: 2px solid green;
        margin-right: 301px;
        filter: blur(1px);
    }

    .additionalData-image {
        max-width: 70%;
        margin-top: 2px;
        border: 2px solid purple;
        filter: blur(1px);
        align-self: flex-start;
        margin-left: 118px;

    }

    .salary-image {
        max-width: 25%;
        margin-top: -123px;
        margin-right: 297px;
        filter: blur(1px);
    }

    .deductionsAllowed-image {
        max-width: 25%;
        margin-top: 4px;
        border: 2px solid green;
        margin-right: 301px;
        filter: blur(1px);
    }

    .payment-image {
        max-width: 25%;
        margin-top: 3px;
        border: 2px solid lightblue;
        margin-right: 301px;
        filter: blur(1px);

    }

    dialog {
        padding: 0;
        scale: 0;
        border: 2px solid white;
        border-radius: 35px;
        width: 310px;
        color: #54177cf2;
        font-weight: 500;
        //animation: pop 0.5s ease;
        // transition: scale 1s ease;


        &[open] {
            scale: 1;
        }

        &::backdrop {
            background: #e6e5f397;
        }

        .dialog-content {
            padding: 20px;


            .dialog-title {
                font-size: 2rem;
            }

            .victory-image {
                width: 130px;
                height: 110px;
                margin-right: 60px;
            }


            .buttons {
                display: flex;
                justify-content: space-between;
                margin-top: -47px;

                .nextStage-button,
                .currentStage-button {
                    background-color: #54177cf2;
                    color: white;
                    border-radius: 8px;
                    height: 28px;
                    width: 80px;
                }
            }
        }

    }

}